.card {
  border: 1px solid var(--color-border-light);
  width: 100%;
}

.header {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  gap: var(--space-2);
  padding: var(--space-2);
}

.logoMobile {
  display: none;
}

.logo svg,
.logoMobile svg {
  width: auto;
  display: block;
  color: var(--color-logo-main);
  height: 22px;
}

.row {
  padding: var(--space-2);
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--color-border-light);
  gap: var(--space-1);
}

@media (max-width: 899.95px) {
  .logo {
    display: none;
  }

  .logoMobile {
    display: flex;
    flex: 1;
    border: none;
    align-items: flex-start;
    margin-left: var(--space-2);
  }
}
